<div class="row">
  <div class="col-md-12 mx-0 px-0">
    <div class="callToAction img-fluid" id="callToAction">
      <div class="col-md-4 offset-md-4">
        <h1 class="text-center callToActionText">SHARE YOUR ADVENTURE</h1>
      </div>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-md-6 offset-md-3">
    <div class="jumbotron quote-package">
      <h3 class="text-center">
        DO SOMETHING WITH YOUR LIFE
      </h3>
    </div>
    <hr class="mt-5">
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h3 class="text-center mb-5">OUR PLANS</h3>
  </div>
  <div class="col-md-3 offset-3">
    <div class="jumbotron silver-package">
      <h3 class="text-center">TESTING</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "Sign Up with Silver Package", "#", class: "btn btn-outline-primary btn-lg btn-block" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="jumbotron gold-package">
      <h3 class="text-center">THIS JUMBOTRON</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "Sign Up with Gold Package", "#", class: "btn btn-outline-success btn-lg btn-block" %>
    </div>
  </div>
</div>
