<div class="container-fluid">
  <h1 class="text-center mb-4">Alpha Blog Users</h1>
  <div class="row">
    <div class="col-md-2">
      <!-- Perhaps a sidebar? -->
    </div>
    <div class="col-md-6 offset-md-1 users">
      <%= paginate @users %>
      <div class="usersIndex mt-4" id="usersIndex">
        <%= render 'show-users' %>
      </div>
      <%= paginate @users %>
    </div> <!-- col-md-8 -->
  </div> <!-- row -->
</div> <!-- container -->
