<h3 class="display-4 text-center py-5">All Images</h3>
<% @images.each do |image| %>
  <!-- Create grid of uploaded images -->
  <%= link_to image_path(image) do %>
    <%= image_tag image.picture.url, class: "img-thumbnail index-grid" %>
  <% end %>
<% end %>
