<div class="col-xl-6 offset-xl-3 pt-5">
  <h1 class="text-center">New Image</h1>
  <%= render 'form', image: @image %>
  <div class="text-center">
    <%= link_to 'Show', @image %> |
    <%= link_to 'Back', images_path %>
  </div>
</div>
