<div class="text-center">
  <% flash.each do |name, msg| %>
    <% if name == "notice" %>
      <%= content_tag :div, class: "alert alert-info alert-dismissible fade show", role: "alert" do %>
        <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="m-0"><%= msg %></p>
      <% end %>
    <% else %>
      <%= content_tag :div, class: "alert alert-#{name} alert-dismissible fade show", role: "alert" do %>
        <button type="button" class="close p-0" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="m-0"><%= msg %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
